body {
    background-color: #ecebeb;
}

.le-feed {
    position: relative;
    float: left;
    width: 81%;
    margin: 3px;
    padding-bottom: 100vw;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    box-shadow: 3px #000000;
}

.le-navbar {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: #B90707;
}

.le-profile {
    position: relative;
    float: right;
    width: 18%;
    margin: 3px;
    padding-bottom: 100vw;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}

#le-icon-book {
    position: absolute;
    left: 21px;
    top: 3px;
}

.le-search {
    position: absolute;
    left: 330px;
    border: 3px #000000;
}

/* .d-lg-inline-flex {
    vertical-align: inherit;
} */