.le-navbar {
    background-color: #AB0202;
    text-align: center;
    font-family: 'Gochi Hand', cursiva;
    font-size: 27px;
    font-style: italic;
    /* -webkit-text-stroke: 3px #000000; */
    /* -webkit-text-stroke-color: #000000; */
}

.le-book {
    position: fixed;
    left: 21px;
    top: 3px;
    rotate: -13deg;
}

.le-nav-search {
    position: absolute;
    left: 900px;
    top: 3px;
}

input#le-search {
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 6px;
    border-radius: 9px;
    background-color: #ffffff;
    border-color: #ffffff;
}

button#bt-le-search {
    position: absolute;
    background-color: #8B0101;
    left: 270px;
    top: 10px;
    border-radius: 9px;
}