body {
    background-color: #ecebeb;
}

.le-feed {
    position: relative;
    float: left;
    width: 70%;
    margin: 12px;
    padding-bottom: 100%;
    border-radius: 9px;
    border: 3px #000000;
    background-color: #ffffff;
    box-shadow: 3px #000000;
}

.le-navbar {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: #B90707;
}

.le-profile {
    position: relative;
    float: right;
    width: 26%;
    margin: 12px;
    padding-bottom: 100%;
    border-radius: 9px;
    background-color: #ffffff;
}

#le-icon-book {
    position: absolute;
    left: 21px;
    top: 3px;
}

.d.flex {
    float: right;
    overflow: hidden;
    height: 50%;
    width: 50%;
}