@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-image: url(/imgs/background.png);
    background-size: auto;
}

.login-area {
    float: left;
    margin: 3% 33%;
    width: 40wv;
    height: 40vw;
    background-color: #ffffff;
    border-radius: 9px;
}

.le-book {
    display: block;
    margin: 0.5vw 9vw;
    width: 9vw;
}

form {
    display: block;
    font-size: 18px;
}

input {
    display: block;
    margin: 1vw 1.5vw;
    width: 25vw;
    font-size: 1.7vw;
    border: 0;
    border-bottom: solid 1px #AB0202;
}

button {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vw;
    padding: 1vw 5vw;
    background-color: #AB0202;
    color: #ffffff;
    border: solid 1px #000000;
    border-radius: 9px;
}

p {
    font-size: 2.6vw;
    display: block;
    margin: 0.5vw;
    text-align: center;
}