@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-image: url(/imgs/background.png);
    background-size: 250vh;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    width: 30vw;
    height: 36vw;
    padding: 36px;
}

.login-area form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-area input {
    margin-top: 18px;
    font-size: 18px;
    padding-left: 3%;
    height: 45px;
    border: none;
    border-radius: 3px;
    border-bottom: solid 1px #AB0202;
    outline: none;
}

#btLoginLE {
    color: #ffffff;
    padding: 0;
    border-radius: 9px;
    font-size: 27px;
    margin-top: 56px;
    height: 5vw;
    border: solid 1px #000000;
    background-color: #AB0202;
    text-transform: uppercase;
    cursor: pointer;
}

.login-area img {
    width: 8.5vw;
    height: auto;
}

p {
    color: #000000;
}

a {
    color: #AB0202;
    text-decoration: none;
    margin-left: 3px;
}   

/* Estilo para pagina de Registro -> */

.re-main {
    display: flex;
    height: 100vh;
    justify-content: left;
    align-items: flex-start;

}

.register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    height: 100%;
    width: 27vw;
    padding: 9px 46px 1px 9px;
}

.register form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register label {
    margin-top: 8px;
    font-size: 21px;
    padding-left: 3%;
}

.register input {
    margin-top: 3px;
    font-size: 18px;
    padding-left: 3%;
    height: 40px;
    border: none;
    border-radius: 6px;
    border: solid 1px #AB0202;
    outline: none;
}

.optional {
    display: flex;
    margin: 9px;
    align-items: flex-start;
    justify-content: left;
}

.optional input {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0px 0px 0px 6px;
}

#btRegister {
    font-size: 27px;
    color: #ffffff;
    border: 0;
    background-color: #AB0202;
    height: 56px;
}