@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

nav {
    background-color: #AB0202;
}

#logoBook {
    /* width: 4rem; */
    rotate: -13deg;
    /* margin: 1px; */
}

button {
    background-color: #8B0101;
    /* color: #ffffff; */
}

#svg-menus {
    width: 150%;
}

#navItens {
    background-color: #AB0202;
    color: #ffffff;
}

